@import "@webtui/css/components/typography.css";

.exec-btn {
  font-size: clamp(9px, 1vw, 15px);
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: auto;
  max-width: 100%;
}

@media (max-width: 600px) {
  .exec-btn {
    width: 100%;
  }
} 