@import "@webtui/css/components/typography.css";
@import "@webtui/plugin-nf";

.exec-btn {
  font-size: clamp(0.7lh, 0.7lh, 0.7lh);
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0.25lh 0.5ch;
  width: auto;
  max-width: 100%;
} 